<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="iou.iou" android:versionName="2.2" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="@string/icon_name" android:icon="@drawable/Icon" />
</manifest>